.activity-row{
  background-color: #ececee;
  padding: 10px;
  border-radius: 2px;
}
.activity-row:hover{
  background-color: #ffeada;
}
.element-bg-img{
  height: 190px;
  overflow: hidden;
}

.ele-strip-active{
  color: #313144;
}

.activity-desc p {
  line-height: 1em;
}
