<div class="teddy-bear">
    <div class="teddy-text">
        <h4>{{activeSocial.title}}</h4>
        <span class="w-line"> </span>
        <img src="{{activeSocial.img}}" alt=""  class="img-responsive">
    </div>
    <div class="teddy-follow">
        <ul>
            <li class="folw-h"><h3>{{activeSocial.followers}}</h3>
                <p>Followers</p>
            </li>
            <li><h3>{{activeSocial.following}}</h3>
                <p>Following</p>
            </li>
        </ul>
    </div>
</div>
